/Dataset/Dataset_Scene/
/Dataset/Dataset_Shot/
/Dataset/Dataset_CMC/
/Code/Segmentation/AdaptiveDetector/adaptive_env/
/Code/Segmentation/autoshot/autoshot_env/
/Code/Segmentation/Bi_et_al/bi_env/
/Code/Segmentation/Suguna_et_al/suguna_env/
/Code/Segmentation/TransNetV2/
/Code/Segmentation/TemporalPerceiver/
/Code/Segmentation/DeepSBD/dataset/
/Code/Segmentation/DeepSBD/weights_save/

/Dataset/Dataset_TagImage/
/Dataset/Dataset_Angle_Level/

/Code/TagImage/Camera_Angle_Level/

*.mp4
*.avi
*.mov