/Dataset/Dataset_Scene/
/Dataset/Dataset_Shot/
/Code/Segmentation/AdaptiveDetector/adaptive_env/
/Code/Segmentation/autoshot/autoshot_env/
/Code/Segmentation/Bi_et_al/bi_env/
/Code/Segmentation/Suguna_et_al/suguna_env/
/Code/Segmentation/TransNetV2/
